.wrapper {
	@apply relative inline-flex lg:flex lg:items-center lg:flex-col;

	@media (max-width: 1440px) {
		grid-column: 3/4;
		grid-row: 1/3;
	}

	.form {
		@apply p-4 absolute right-2 w-60 z-20 rounded-lg gdark:bg-zinc-900 gdark:bg-opacity-50;
		top: calc(100% + 1.4rem);
		background-color: #dbe0f0;

		.register {
			@apply text-gray-600 gdark:text-white bg-transparent text-xs font-light mt-2 text-center w-full;
		}

		.loginButton {
			@apply mt-5 mb-1 text-center;
		}
	}
	.button {
		@apply shadow-icon;
	}
}
