@import '../../../../assets/styles/mixins';

:global(.dark) .sidebar > div {
	background-image: linear-gradient(to right, #242428, #363940);
	border-top: 2px solid rgba(255, 255, 255, 0.2);
	border-bottom: 2px solid rgba(255, 255, 255, 0.1);
}

.sidebar {
	@apply relative 2xl:fixed 2xl:top-0 2xl:left-0 2xl:z-10 2xl:w-full 2xl:h-full 2xl:transition-transform;

	@media (max-width: 1440px) {
		transform: translateY(-100%);
	}

	&Open {
		transform: translateY(0px);
	}

	> div {
		@apply text-center absolute w-full flex flex-col justify-between 2xl:h-full;
		background-image: linear-gradient(to right, #e0e4fb, #c7cced);
		min-height: 500px;
		border-top-left-radius: 2rem;
		border-bottom-left-radius: 2rem;
		top: 50%;
		transform: translateY(-50%);
		@include shadow('lg', false);
		border-top: 2px solid rgba(255, 255, 255, 0.7);
		border-bottom: 2px solid rgba(255, 255, 255, 0.6);

		@media (max-width: 1440px) {
			border-radius: 0px;
		}

		.logo {
			@apply text-5xl block gdark:text-blue-300;
			color: #0054be;
		}

		.menu {
			.item {
				&:last-child > a {
					@apply mb-0;
				}
				> a {
					@apply block mb-5 text-xl;

					svg {
						@apply mx-auto transition-colors fill-[#1c2034] gdark:fill-white gdark:opacity-80 gdark:transition-opacity;
					}
				}

				&:hover svg {
					@apply fill-[#666d91] gdark:fill-white gdark:opacity-100;
				}

				&.active svg {
					@apply fill-primary gdark:fill-purple-400;
				}
			}
		}
	}
}
