@import '../../../assets/styles/mixins';

.wrapper {
	@apply grid;
	grid-template-columns: 1fr 18fr;
	height: calc(100vh - 5rem);

	@media (max-width: 1440px) {
		grid-template-columns: 1fr;
	}

	.content {
		@apply rounded-3xl bg-[#ebeffd] gdark:bg-zinc-800 xl:rounded-none;
		z-index: 1;
		@include shadow('lg', false);
	}
}

.main {
	@apply px-6 pt-4 pb-14;
}
