.table-item {
	@apply flex-center-between flex-wrap bg-white gdark:bg-zinc-700 gdark:bg-opacity-60 gdark:text-white w-full py-2 px-5 rounded-md mb-3 relative;
	box-shadow: 0 4px 10px rgba(45, 8, 125, 0.2);

	> .info {
		@apply flex items-center gap-5;
		> span {
			img {
				@apply rounded;
			}
		}

		> div {
			width: 400px;
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;

			@media (max-width: 768px) {
				width: 100px;
			}

			@media (max-width: 425px) {
				width: 100px;
			}

			@media (max-width: 375px) {
				width: 50px;
			}
		}
	}

	> .actions {
		@apply flex items-center gap-3;
		> a {
			@apply hover:opacity-100 opacity-75 transition-opacity text-lg;
		}

		> button {
			@apply hover:opacity-100 opacity-75 transition-opacity text-red-700 gdark:text-red-500 text-lg;
		}
	}
}
